
/* Universal Styles */

h1 {
    font-family: Helvetica;
    font-size: 48px;
    color: #252525;
    letter-spacing: -2px;
}

h2 {
    font-family: Helvetica;
    font-size: 30px;
    color: #252525;
    letter-spacing: -2px;
}

h4 {
    font-family: Helvetica;
    font-size: 16px;
}

.header {
    margin: auto;
    width: 80%;
}

.section {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 20px 20px 20px;
    width: 80%;
    margin: 0 auto 15px;
}

p, ul {
    font-family: Helvetica;
    font-size: 19px;
}

/* Universal Styles */

/*Color Blocks*/

#blue {
    background-color: #0872E7;
}

#green {
    background-color: #ddff9f;
    color: #252525;
}

#orange {
    background-color: #ff5500;
}

#black {
    background-color: #252525;
}

.color {
    border-radius: 5px;
    padding: 20px 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    width: 20%;
    margin: auto;
}

.colorcode {
    opacity: 50%;
}

/*Color Blocks*/

/*Fonts Section*/

.bold {
    font-weight: bold;
}

.eyebrow {
    color: gray;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
}

.helvetica {
    font-family: Helvetica;
    font-size: 23;
    color: #252525;
    letter-spacing: -1px;
}

.IBM {
    font-family: IBM Plex Mono;
}

.item {
    display: inline-block;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 0px 15px;
    vertical-align: top;
    margin-right: 15px;
}

.highlight {
    background-color: rgb(221, 255, 159);
}

/*Fonts Section*/